* {
    margin: 0;
    padding: 0;
}

#nome_Aluno {
    width: 300px;
}

#senha_Aluno {
    width: 300px;
}

#lembrarId {
    width: 250px;
}

#lembrar {
    width: 400px;
}

#logo {    
    margin: 30px 0px 0px 30px;
}

body {
    background-color: #2b78e4
}

form {
    /* colocar a tela no meio */
    margin: 0 auto;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px 10px;
    padding: 50px;
    background-color: #fff;
    margin-top: 130px;
}

form div+div {
    margin-top: 15px;
}

label {
    text-align: right;
    display: inline-block;
    width: 80px;
}

textarea {
    font: 12px sans-serif;
    width: 300px;
    border: 1px solid teal;
    box-sizing: border-box;
    border-radius: 3px;
    vertical-align: top;
    height: 100px;
}

h3 {
    text-align: center;
}

button {
    border: 0px;
}