* {
    margin: 0;
    padding: 0;
}

/* estilos tela de LOGIN */
body {
    background-color: #2b78e4
}

#nomeAluno {
    width: 300px;
}

#senhaAluno {
    width: 300px;
}

#lembrarId {
    width: 250px;
}

#lembrar {
    width: 400px;
}

#logo {
    margin: 30px 0px 0px 30px;
    width: 300px;
}

#areaLogin {
    /* colocar a tela no meio */
    margin: 0 auto;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px 10px;
    padding: 50px;
    background-color: #fff;
    margin-top: 130px;
}

#areaLogin div+div {
    margin-top: 15px;
}

.inputsLogin {
    display: inline-block;
    width: 80px;
}

#areaLogin h3 {
    text-align: center;
}

button {
    border: 0px;
}
/* FIM estilos tela de LOGIN */

#botao{
    text-align: center;
}